.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  height: 361px;
  width: 282px;
}

.card__image {
  height: 282px;
  width: 282px;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.6;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button_active {
  background-image: url(../images/Like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  height: 19.3px;
  width: 18px;
  background: url(../images/Trash.svg);
  position: absolute;
  margin-bottom: 585px;
  margin-left: 222px;
}

.card__delete-button_toggle {
  background-image: url(../images/Trash-toggle.svg);
}

.card__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .card:last-of-type {
    margin-bottom: 48px;
    margin: 0;
  }

  .card__list {
    padding: 15px 0 18px;
  }
}
