.page {
  max-width: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__logo {
  width: 173px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 41px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .page__section {
    max-width: 100%;
    margin-top: 36px;
  }

  .page__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-top: 32px;
  }
}
